name: .NET Core

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.2.108
    - name: Build with dotnet
      run: dotnet build --configuration Release
    - name: Test LibraryParser
      run: dotnet test LibraryParser.Test/LibraryParser.Test.csproj --configuration Release
    - name: Publish binaries
      run: dotnet publish --self-contained true -p:UseAppHost=true -r linux-x64
    - name: Publish binaries back to Github
      uses: actions/upload-artifact@master
      with:
        name: release
        path: Console/bin/Debug/netcoreapp2.2/linux-x64
    
